* {
  box-sizing: border-box;
}

.app > h2, h1 {
  text-align: center;
  margin: auto;
  padding: 20px;
  color: white;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

.search {
  margin: auto;
  padding: 20px;
}

.article {
  display: flex;
  justify-content:space-evenly;
  flex-flow: row wrap;
  align-content: space-around;
}

.news {
  max-width: 390px;
  text-align: center;
  padding: 20px;
  margin: auto;
  opacity: 0.3;
}

.news:hover {
  opacity: 1;
}

img{
  max-width: 100%;
  border-radius: 3px;
}